<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cuotas>
            <cuota>
                <enabled><![CDATA[0]]></enabled>
                <title>Default Title From Module Config</title>
            </cuota>
        </cuotas>
    </default>
</config>
