<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="First\Cuotas\Api\Data\CuotaInterface" type="First\Cuotas\Model\Cuota"/>
    <preference for="First\Cuotas\Api\CuotaRepositoryInterface" type="First\Cuotas\Model\CuotaRepository"/>
    <virtualType name="CuotasGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">First\Cuotas\Model\ResourceModel\Cuota\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">CuotaGridFilterPool</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="CuotaGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
      <arguments>
          <argument name="appliers" xsi:type="array">
              <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\RegularFilter</item>
              <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\FullText</item>
          </argument>
      </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="first_cuotas_cuota_listing_data_source" xsi:type="string">First\Cuotas\Model\Resource\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="First\Cuotas\Model\Resource\Grid\Collection" 
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cuotas_cuota</argument>
            <argument name="resourceModel" xsi:type="string">First\Cuotas\Model\ResourceModel\Cuota</argument>
        </arguments>
    </virtualType>
    <type name="Magento\ImportExport\Model\Import\SampleFileProvider">
        <arguments>
            <argument name="samples" xsi:type="array">
                <item name="cuotas_cuota" xsi:type="string">First_Cuotas</item>
            </argument>
        </arguments>
    </type>
</config>